<section >
    
    <h2>Ingresar</h2>

    <form action="/user" method="post" class="formUser">
    <label for="">Nombre</label>
    <input type="text"  name="userName">
    <label for="">E-mail</label>
    <input type="email"  name="userEmail">
    <label for="">Password</label>
    <input type="password"  name="userPassword">
    <button type="submit">Cargar</button>
</form>
</section>