body{
    background-color: rgb(231, 231, 66);
}
.formUser{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 200px;
}

.formUser button{
    margin: auto;   

    width: 55px;
    padding: 6px 3px;

}